/* VARIABLES */
:root{
    --color-fondo: #ffffff;
    --color-fondo-desierto: #EDE7E2;
    --color-destacado: #FF7043;
    --color-letra-normal: #462005;
}



/* FUENTES */
@font-face{
    font-family: Normal;
    src: url("NunitoSans_7pt-Regular.ttf");
}

@font-face{
    font-family: Delgado;
    src: url("NunitoSans_7pt-Light.ttf");
}
@font-face{
    font-family: Grueso;
    src: url("NunitoSans_7pt-ExtraBold.ttf");
}




/* NAVBAR */
.navbar{
    background-color: var(--color-fondo-desierto);
    box-shadow: 0 0 0.25rem 0;
}
/* NAVBAR ICONOS */
.navbar img{
    height: 1.5rem;
    width: auto;
}
/* FUENTE NAVBAR */
.navbar a{
    font-family: Normal, serif;
    font-size: 1rem;
    color: var(--color-letra-normal);
}
/* HOVER NAVBAR */
.navbar a:hover{
    font-weight: bold;
    color: var(--color-destacado);
}
/* BUSCADOR */
.navbar input{
    width: 39rem;
    border-color: var(--color-destacado);
    border-width: 0.13rem;
}
/* BOTÓN BUSCADOR */
.navbar button{
    font-family: Normal, serif;
    font-size: 1.050rem;
    color: var(--color-destacado);
    border-color: var(--color-destacado);
}
/* HOVER BOTON BUSCADOR */
.navbar button:hover{
    color: var(--color-fondo);
    background-color: var(--color-destacado);
    border-color: var(--color-destacado);
}



/* SECCION BIENVENIDA */
.seccion-bienvenida{
    background-color: var(--color-fondo);
    height: 37.5rem;
}
/* TITULO BIENVENIDA */
.seccion-bienvenida h1{
    font-family: Grueso, sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    color: var(--color-letra-normal);
    margin-top: 7.25rem;
    margin-left: 4.25rem;
}
/* TEXTO BIENVENIDA */
.seccion-bienvenida p{
    font-family: Delgado, serif;
    font-size: 1.5rem;
    line-height: 3rem;
    color: var(--color-letra-normal);
    margin-top: 2rem;
    margin-left: 4rem;
}
/* BOTON BIENVENIDA */
.seccion-bienvenida a{
    font-family: Normal, serif;
    font-size: 1.050rem;
    color: var(--color-destacado);
    border-color: var(--color-destacado);
    margin-left: 4rem;
    margin-top: 2rem;
}
/* HOVER BOTON BIENVENIDA */
.seccion-bienvenida a:hover{
    color: var(--color-fondo);
    background-color: var(--color-destacado);
    border-color: var(--color-destacado);
}
/* IMAGEN BIENVENIDA */
.seccion-bienvenida img{
    height: 28rem;
    width: auto;
    margin-top: 3.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem 0;
}



/* SECCION OFRECER */
.seccion-ofrecer{
    background: linear-gradient(var(--color-fondo-desierto),var(--color-fondo));
    height: 115rem;
}
/* TITULO OFRECER */
.seccion-ofrecer h1{
    margin-top: 4rem;
    font-family: Grueso, serif;
    font-size: 3rem;
    color: var(--color-letra-normal);
}
/* TEXTO OFRECER */
.seccion-ofrecer p{
    margin-top: 1.5rem;
    font-family: Delgado, serif;
    color: var(--color-letra-normal);
    font-size: 1.8rem;
}
/* LEYENDAS OFRECER */
.seccion-ofrecer h2{
    margin-top: 0.8rem;
    font-family: Normal, serif;
    font-size: 1.6rem;
}
/* IMAGENES OFRECER */
.seccion-ofrecer img{
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    height: 16.25rem;
    width: auto;
    box-shadow: 0.25rem 0.25rem 0.25rem 0;
}
/* LINKS OFRECER */
.seccion-ofrecer a{
    text-decoration: none;
    color: var(--color-letra-normal)
}
/* LINKS HOVER OFRECER */
.seccion-ofrecer a:hover{
    text-decoration: underline;
}



/* SECCION POPULARES TITULO */
.seccion-populares h1{
    margin-top: 8rem;
    font-size: 1.8rem;
}
/* SECCION POPULARES SUBTITULO */
.seccion-populares h2{
    font-size: 1.5rem;
    font-family: Normal, serif;
    font-weight: bold;
    text-decoration: underline;
    color: var(--color-letra-normal);
    margin-top: 3.5rem;
}
/* SECCION POPULARES TEXTO */
.seccion-populares p{
    font-size: 1.4rem;
    line-height: 2.8rem;
}
/* SECCION POPULARES IMAGENES */
.seccion-populares img{
    height: 17.8rem;
}
/* SECCION POPULARES BOTON */
.arrow-button{
    display: flex;
    font-family: Normal, serif;
    color: var(--color-destacado);
    background-color: transparent;
    border-color: transparent;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}
/* SECCION POPULARES BOTON FLECHA */
.arrow-button > .arrow{
    width: 6px;
    height: 6px;
    border-right: 2px solid var(--color-destacado);
    border-bottom: 2px solid var(--color-destacado);
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}
/* SECCION POPULARES BOTON ANTES */
.arrow-button > .arrow::before{
    display: block;
    background-color: var(--color-fondo);
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}
/* SECCION POPULARES BOTON FLECHA HOVER */
.arrow-button:hover > .arrow{
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: var(--color-fondo);
}
/* SECCION POPULARES BOTON HOVER ANTES */
.arrow-button:hover > .arrow::before{
    opacity: 1;
    width: 8px;
}
/* SECCION POPULARES BOTON HOVER */
.arrow-button:hover{
    background-color: var(--color-destacado);
    color: #fff;
}
/* SECCION POPULARES LINKS */
.seccion-populares a{
    text-decoration: none;
}
/* SECCION POPULARES LINKS HOVER */
.seccion-populares a:hover{
    text-decoration: none;
}



/* SECCION LIBRO */
.seccion-libro{
    height: 49.5rem;
    background-color: var(--color-fondo);
}
/* SECCION LIBRO TITULO */
.seccion-libro h1{
    font-family: Grueso, serif;
    font-size: 3rem;
    color: var(--color-letra-normal);
    margin-top: 8rem;
}
/* SECCION LIBRO TEXTO */
.seccion-libro p{
    font-family: Delgado, serif;
    font-size: 1.8rem;
    color: var(--color-letra-normal);
    line-height: 2.8rem;
    margin-top: 3.5rem;
}
/* SECCION LIBRO IMAGEN */
.seccion-libro img{
    height: 30rem;
    width: auto;
}
/* SECCION LIBRO LINEA */
.seccion-libro hr{
    height: 31rem;
    width: 0.2rem;
    background-color: var(--color-letra-normal);
    margin-left: 7rem;
}



/* PIE DE PAGINA */
.pie{
    background-color: var(--color-fondo-desierto);
    height: 10rem;
    box-shadow: 0 0.25rem 0.25rem 0.25rem;
}
/* PIE DE PAGINA TEXTO */
.pie p{
    font-family: Delgado, serif;
    font-weight: bolder;
}
/* PIE DE PAGINA SIPAM */
.pie img{
    height: 6rem;
    width: auto;
}
/* PIE DE PAGINA REDES */
.redes img{
    float: left;
    height: 3rem;
    width: auto;
    margin-left: 9rem;
    margin-top: 1.2rem;
    background-color: var(--color-destacado);
    background-position: center;
    border-radius: 30%;
}



/* SECCION FAQ */
.seccion-faq{
    background-color: var(--color-fondo);
}
/* SECCION FAQ TITULO */
.seccion-faq h1{
    font-family: Grueso, serif;
    color: var(--color-letra-normal);
}
/* SECCION FAQ TEXTO */
.texto-faq{
    font-family: Delgado, serif;
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-align: justify;
    color: var(--color-letra-normal);
}
/* SECCION FAQ ACORDION */
.accordion{
    --bs-accordion-btn-bg: var(--color-fondo-desierto);
    --bs-accordion-active-bg: var(--color-destacado);
    --bs-accordion-active-color: var(--color-fondo);
    --bs-accordion-border-width: 0.05rem;
    --bs-accordion-border-color: var(--color-letra-normal);
}
/* SECCION FAQ TEXTO ACORDION */
.texto-acordion{
    font-family: Delgado, serif;
    font-size: 1.03rem;
    line-height: 2.5rem;
    text-align: justify;
    color: var(--color-letra-normal);
}
/* SECCION FAQ TITULO BOTON ACORDION */
.seccion-faq button{
    font-family: Normal, serif;
    font-weight: bold;
    color: var(--color-letra-normal);
}